// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/Gill Sans.otf') format('opentype');
}

@font-face {
  font-weight: bold;
  font-family: 'Gill Sans Bold';
  src: url('../fonts/Gill Sans Bold.otf') format('opentype');
}

$font-size-base: 1.6rem;
$nav-link-font-size: 1rem;

$blue: #005289; // Thats a sample how you could change a BootStrap variable.
$green: #3FBEAC;
$primary: $blue; // Once we've changed the value, we'll also make it the primary brand color.
$success: $green;

$font-family-sans-serif: 'Gill Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
