:where(.wp-block-columns.is-layout-flex) {
  gap: 0;
}

.skip-link {
  visibility: hidden;
}

.wrapper {
  padding-bottom: 0;
}

figure, figure.wp-block-image img,
.blockquote, .wp-block-quote,
.wp-block-columns {
  margin-bottom: 0;
}

h1, .h1,
h2, .h2 {
  font-size: 64px;
  line-height: 1;
  font-family: "Gill Sans Bold";
  color: #005289;
  text-transform: uppercase;
  margin-bottom: 58px;

  span {
    color: #3FBEAC;
    display: block;
  }
}

h4, .h4 {
  color: #005289;
  font-size: 25px;
  margin-bottom: 2rem;
}

input {
  border: 0;
  margin-bottom: 16px;
  padding: 20px 21px 12px;
  font-size: 21px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #005289;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.bg-grey {
  background-color: #F8F8F8;
}

.mb-39 {
  margin-bottom: 39px;
}

.mr-49 {
  margin-right: 49px;
}

.mr-25 {
  margin-right: 25px;
}

.pl-14 {
  padding-left: 14px;
}

.pl-24 {
  padding-left: 24px;
}


nav#main-nav {
  z-index: 15;
  padding: 35px 52px;

  div#navbarNavDropdown {
    margin-top: 5px;
  }

  .lang-search-social-menu {
    margin-top: 14px;
  }

  .navbar-brand {
    width: 144px;
    margin-right: 5.75rem;
    margin-left: 1rem;
  }

  .navbar-nav {

    .navbar-expand-md .navbar-nav .nav-link {
      padding-left: 10px;
      padding-right: 10px;
    }

    .nav-link {
      color: #242424;
      font-size: 22px;
      padding: 20px 12px;

      &:focus,
      &:hover {
        color: #3FBEAC;
      }
    }

    .active {
      .nav-link {
        color: #3FBEAC;
      }
    }

  }

  .social-bar {
    margin-left: 35px;
    margin-right: -8px;

    .nav-link {
      padding-left: 0.7rem;
      padding-right: 0.7rem;

      .dashicons::before {
        background: black;
        border-radius: 50%;
        padding: 2px;
        color: #fff;
      }
    }
  }

  .lang-search-social-menu {

    .lang {
      font-size: 1.2rem;
      text-decoration: none;
      color: #242424;
    }

    .search {
      //margin-left: 10px;
      //margin-right: 50px;
      font-size: 2rem;
      line-height: 1.5rem;
    }

    .social-icon {


    }
  }
}

.dropdown-menu {
  border-radius: 0;
  width: 160%;


  .dropdown-item {
    color: #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    width: 90%;
    font-size: 18px;
    line-height: 16px;
    margin: 0px auto;
    padding: 11px 0 8px;
  }

  li:last-child {
    .dropdown-item {
      border: none;
    }
  }

}

header.entry-header {
  .header-hidden {
    visibility: hidden;

    img {
      width: calc(100% - 505px);
    }

  }

  .header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;

    .header-container {
      position: relative;

      img {
        width: 100vw;
        height: auto;
      }

      .entry-title {
        position: absolute;
        left: 0;
        top: 47%;
        width: 100%;
        text-align: center;
      }
    }
  }
}


.img-w-100 img {
  width: 100%;
}

.wpcf7 {
  max-width: unset !important;
}

.ayh-text-block {
  padding-left: 178px;
  padding-right: 130px;
  flex: 0 1 50% !important;

  p {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 23px;
    line-height: 33px;
  }

  ul {
    list-style: none;
    padding-left: 25px;
    font-size: 23px;
    line-height: 35px;


    li::before {
      content: ' ';
      display: inline-block;
      margin-right: 12px;
      border-radius: 50%;
      border: 2px solid #005289;
      width: 10px;
      height: 10px;
    }
  }

}

blockquote.wp-block-quote {
  font-weight: 700;
  background-color: #005289;
  padding: 132px 178px 114px;
  letter-spacing: 0;
  line-height: 1;
  color: #3fbeac;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "Gill Sans Bold";
}

#newsletter {
  background-color: #3fbeac;
  color: #fff;
  font-size: 41px;
  padding-top: 135px;
  padding-bottom: 108px;


  .newsletter-wrapper {
    padding-left: 176px;
    padding-right: 160px;
    display: flex;
  }

  .newsletter-text-big {
    font-size: 67px;
    line-height: 64px;
    font-family: 'Gill Sans Bold';
    color: #fff;

    span {
      color: #005289;
      display: block;
    }
  }

  .newsletter-text {
    flex: 1 0 50%;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    /* width: 607px; */
    width: 100%;
    padding-left: 177px;
    padding-top: 10px;
  }
}

#wrapper-footer-full, #wrapper-static-hero {
  background-color: #F8F8F8;
  color: #242424;
}

#wrapper-footer {
  color: #fff;
  background-color: #3fbeac;
  padding-bottom: 24px;
  padding-top: 30px;
  font-size: 18px;

}

#wrapper-footer-full {

  .footer-wrapper {
    padding-left: 178px;
    padding-right: 130px;
    padding-top: 78px;
    font-size: 23px;

    .h4, h4 {
      font-size: 23px;
      line-height: 1;
      margin-bottom: 29px;
    }

    p {
      line-height: 1;
      margin-bottom: 26px;
      font-size: 22px;
      line-height: 25px;
    }
  }

  .footer-logo {
    margin-right: 234px;
    margin-bottom: 106px;
  }
}

.post-35 .entry-content {
  margin: 80px 110px;
}

.lift-me {
  color: #242424;
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: -222px;
  z-index: 15;
  font-size: 21px;
  line-height: 31px;
  font-weight: bold;
}


.wp-block-cb-carousel .slick-slide {
  padding: 0;
}

.text-bold {
  font-family: 'Gill Sans Bold';
}

.p-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mb-84 {
  margin-bottom: 84px;
}

.form-control, .widget_archive select, .widget_categories select, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
  border-radius: 0;
  margin-bottom: 10px;
  padding: 13px 15px;
  font-size: 1.18rem;
}

.btn-outline-primary, .wpcf7 input[type=submit] {
  color: #fff;
  background-color: #005289;
}

.post-type-archive-portfolio {
  .page-header {
    display: none;
  }
}

#doctors-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  article {
    flex: 1 0 21%;
    margin: 5px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: column;
    padding: 15px;

    img {
      width: 100%;
      border: 1px solid #005289;
      margin-bottom: 25px;
    }

    .entry-title {
      font-size: 17px;
      margin-bottom: 16px;
    }

    .doctor-category, .doctor-nationality {
      font-size: 14px;
      color: #B7B7B7;
      margin-bottom: 15px;

      .dashicons {
        font-size: 14px;
        width: auto;
      }
    }

    .read-more {
      border-radius: 0px;
      padding: 11px 31px;
    }
  }

}

.our-story {
  padding-top: 134px;
}

.our-message {
  padding-top: 70px;
}

.why-alyousif {
  padding-top: 122px;
}

.our-vision {
  padding-top: 92px;
}

.our-mision {
  padding-top: 100px;
}

.our-values {
  padding-top: 169px;

  h3 {
    color: #3fbeac;
    font-family: "Gill Sans Bold";
    font-size: 37px;
    padding-top: 40px;
    margin-bottom: 18px;
  }

  p {
    font-size: 26px;
    margin-bottom: 34px;
  }

  .stroke:after {
    content: ' ';
    height: 100%;
    width: 2px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(/wp-content/themes/alyousif/stroke.png);
  }
}

.our-capacity {
  padding-top: 26px;

  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 0;
    gap: 35px;
  }

  li {
    margin-bottom: 44px;
    font-size: 32px;
    line-height: 31px;
  }
}

.book-banner {
  .book-form {
    padding-left: 346px;
    padding-top: 1px;
    padding-right: 43px;
    padding-bottom: 6px;
    flex: 1 0 50%;

    .form-control, .widget_archive select, .widget_categories select, .wpcf7 .wpcf7-validation-errors,
    .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime],
    .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number],
    .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel],
    .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week],
    .wpcf7 select, .wpcf7 textarea {
      border-radius: 0;
      margin-bottom: 14px;
      padding: 17px 25px;
      font-size: 20px;
    }

    .wpcf7-spinner {
      position: absolute;
    }
  }

  .wp-block-column {
    flex: 1 0 50%;

    p {
      font-size: 35px;
      line-height: 72px;
    }
  }
}

.slick-prev {
  &:before {
    content: '\2039';
    font-size: 54px;
  }
}

.slick-next {
  &:before {
    content: '\203A';
    font-size: 54px;
  }
}

body.home {
  header.entry-header {
    display: none;
  }


  #main {
    position: relative;
    top: -222px;
    width: 100vw;
  }

  .home-slider {
    .slick-prev {
      top: 81%;
      right: 11%;
      left: auto;

      &:before {
        content: '\2039';
        font-size: 54px;
      }
    }

    .slick-next {
      top: 81%;
      left: auto;
      right: 9%;

      &:before {
        content: '\203A';
        font-size: 54px;
      }
    }

    .wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
      margin-left: 8%;
      width: 33%;

      h2 {
        font-size: 64px !important;
        margin-top: 37%;
      }

      .wp-element-button {
        width: 242px;
        font-size: 21px !important;
        padding: 13px !important;
      }
    }
  }

  .why-alyousif {
    padding-top: 10px;

    p {
      margin-bottom: 74px;
    }

    .wp-element-button {
      border-radius: 0px;
      background-color: #3fbeac;
      font-size: 20px;
      padding: 14px 74px 8px;
      line-height: 31px;
    }
  }

  .departments {
    padding-top: 125px;

    h2 {
      margin-bottom: 150px;
    }

    .slick-slider {
      margin-bottom: 203px;
    }

    .slick-prev {
      right: 80px;
      left: auto;
      top: 307px;
    }

    .slick-next {
      right: 40px;
      top: 307px;
    }

    .wp-block-cb-carousel .slick-slide {
      margin: 0;

      figure {
        display: flex;
        width: 160px;
        height: 210px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        figcaption {
          font-size: 22px;
          color: #005289;
          text-align: center;
          margin-top: 35px;
          font-weight: bold;
          line-height: 22px;
        }
      }
    }
  }

  .gallery {
    padding-top: 127px;

    h2 {
      margin-bottom: 128px;
    }
  }

  .blog {
    padding-top: 187px;
    margin-bottom: 60px;

    h2 {
      margin-bottom: 118px;
    }

    ul.wp-block-latest-posts__list.wp-block-latest-posts {
      display: flex;
      gap: 90px;

      li {
        box-shadow: 0px 3px 6px #00000029;
        padding: 22px;
        padding-bottom: 0;
        width: calc(32.33333% - 80px);

        &:before {
          content: none;
        }

        .wp-block-latest-posts__featured-image {
          margin-bottom: 38px;

          a {
            display: block;

            img {
              width: 100%;
            }
          }
        }


        .wp-block-latest-posts__post-title {
          color: #005289;
          font: normal normal 600 32px/32px "Gill Sans";
          text-decoration: none;
        }

        .wp-block-latest-posts__post-excerpt {
          font-size: 16px;
          line-height: 34px;

          .understrap-read-more-link {
            color: #3FBEAC;
            background: none;
            border: none;
            font-size: 16px;
            padding: 0;
            margin-top: 12px;
            text-decoration: underline;
          }
        }

      }

    }

    #apbAdvancedPosts-5b986151-5 .apbGridPosts {
      grid-gap: 15px 100px;

      article {
        box-shadow: 0px 3px 6px #00000029;
        background-color: transparent;
        padding: 20px;

        figure {
          background-size: cover;
          height: 100%;
        }

        .apbPostTitle a {
          color: #005289;
          font: normal normal 600 18px/21px 'Gill Sans';
        }
      }
    }
  }

  .insurance {
    padding-top: 239px;

    h2 {
      margin-bottom: 146px;
    }
  }
}

.home-gallery {
  gap: 64px;

  figure.wp-block-image:not(#individual-image) {
    width: calc(31.33% - 40px * 0.66667);
    flex-grow: 0;
  }
}

.insurance-grid {
  figcaption.wp-element-caption {
    text-align: center;
    color: #005289;
    font-size: 22px;
    line-height: 30px;
    margin-top: 54px;
    font-weight: bold;
  }
}

.departments-carousel {
  h2 {
    margin-bottom: 150px;
  }

  .slick-slider {
    margin-bottom: 203px;
  }

  .slick-prev {
    right: 80px;
    left: auto;
    top: 307px;
  }

  .slick-next {
    right: 40px;
    top: 307px;
  }

  .wp-block-cb-carousel .slick-slide {
    margin: 0;

    figure {
      display: flex;
      width: 160px;
      height: 210px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      figcaption {
        font-size: 22px;
        color: #005289;
        text-align: center;
        margin-top: 35px;
        font-weight: bold;
        line-height: 22px;
      }
    }
  }
}

.department-departments {
  padding-top: 125px;

  h3 {
    font-family: 'Gill Sans Bold';
    font-size: 34px;
    line-height: 1;
    margin-top: 61px;
    color: #3FBEAC;
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 80px;
  }

  ul {
    padding-left: 0;
    margin-bottom: 90px;

    li {
      margin-bottom: 10px;
    }
  }
}

.complaints,
.contact-us,
.careers {
  padding-top: 146px;

  .wpcf7 {
    margin-bottom: 42px;
  }

  .form-control, .widget_archive select, .widget_categories select, .wpcf7 .wpcf7-validation-errors,
  .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime],
  .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number],
  .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel],
  .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select,
  .wpcf7 textarea {
    padding: 20px 21px;
    line-height: 1;
    margin-bottom: 17px;
  }
}

.careers,
.complaints {
  margin-bottom: 102px;
}


#doctor-search-icon:before {
  background-image: url('http://localhost/FES/alyousif/wp-content/themes/alyousif/feather-search.svg');
  content: ' ';
}

.doctor-filter {
  padding-top: 80px;
  padding-bottom: 200px;

  a {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
    padding: 18px 20px;
    text-align: center;
  }
}

.doctors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .doctor {
    flex: 0 0 21%;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;

    h2 {
      font-size: 29px;
      text-transform: none;
      line-height: 1;
    }

    figure {
      height: 334px;
      margin-bottom: 50px;
    }

    .meta {
      font-size: 22px;
      color: #B7B7B7;
      margin-bottom: 15px;
    }

    .read-more {
      border-radius: 0;
      padding: 16px 49px;
      font-size: 21px;
      line-height: 1;
      font-weight: bold;
    }
  }
}


article.post {

  .meta-header {
    font-size: 25px;
    margin-bottom: 22px;

  }

  .wp-post-image {
    width: 100%;
  }
}

.blogs {
  padding-top: 129px;

  #primary {
    padding-right: 109px;
  }

  article {
    border-bottom: 1px solid #B7B7B7;
    margin-bottom: 97px;

    h2 {
      font-size: 46px;
      margin-bottom: 25px;
      text-transform: none;

      a {
        text-decoration: none;
      }
    }

    .entry-meta {
      color: #B7B7B7;
      font-size: 22px;
      margin-bottom: 32px;

      span:not(.dashicons) {
        margin-right: 20px;
      }

      a {
        color: #B7B7B7;
        text-decoration: none;
      }
    }

    .wp-post-image {
      margin-bottom: 32px;
    }
  }

  .understrap-read-more-link {
    margin-bottom: 80px;
  }
}

.understrap-read-more-link {
  margin-top: 12px;
  padding: 14px 73px;
  border-radius: 0;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
}

#right-sidebar {
  color: #B7B7B7;
  padding-left: 50px;
  padding-right: 30px;

  h4 {
    color: #242424;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }

  .widget {
    margin-bottom: 48px;
  }

  ul.wp-block-categories {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 50px;

      &:before {
        font-family: 'dashicons';
        font-size: 18px;
        content: "\f318";
        border: none;
        border-radius: unset;
        margin-right: 16px;
      }

      a {
        color: #B7B7B7;
        text-decoration: none;
      }
    }
  }
}
