.header_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  .header-container {
    position: relative;

    img {
      width: 100vw;
      height: auto;
    }

    .entry-title {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
    }
  }
}
